.background {
  background-color: #fb465c;
  height: 100vh;
}
.scherm {
  padding-left: 4%;
  padding-top: 2%;
}
.searchbar {
  position: absolute;
  top: 16%;
  left: 18%;
}
.children {
  position: absolute;
  top: 13%;
  left: 4%;
  width: 360px;
  height: 720px;
}
.menu {
  position: fixed;
  top: 92%;
  left: 2%;
  z-index: 5;
}
