.background {
  background-color: #fb465c;
  height: 100vh;
}
.scherm {
  padding-left: 4%;
  padding-top: 2%;
}
.searchbar {
  position: absolute;
  top: 16%;
  left: 18%;
}
.homebutton {
  position: fixed;
  z-index: 2;
  top: 16%;
  left: 84%;
}
.children {
  position: absolute;
  top: 13%;
  left: 4%;
  width: 360px;
  height: 720px;
}
