.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.pika {
  width: 150px;
  height: 150px;
}
.tekst {
  font-family: poppins;
  font-size: 15px;
  color: #444444;
  text-align: center;
}
