.wittekader {
  position: fixed;
  bottom: 13px;
  width: 360px;
  position: fixed;
  z-index: 1;
}
.tab {
  background-color: rgba(255, 255, 255, 1);
  width: 51px;
  height: 36px;
  border-radius: 8px;
  font-family: poppins;
  font-size: 15px;
  color: #444444;
  text-align: center;
  padding-top: 10px;
  position: fixed;
  bottom: 233px;
  left: 28px;
  text-decoration: underline;
}
.pokemonnaam {
  font-family: poppins;
  font-size: 32px;
  color: #444444;
  text-align: center;
  padding-top: 80px;
}
.pokemontype {
  font-family: poppins;
  font-size: 18px;
  color: #444444;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.fotovierkant {
  width: 250px;
  height: 250px;
  background-color: white;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  align-content: center;
  box-shadow: 3px 4px 0px 0px rgba(0, 0, 0, 0.25);
}
.pokemonfoto {
  width: 200px;
  height: 200px;
  margin-left: 25px;
}
.geluid {
  margin-bottom: auto;
  padding-left: 15px;
}
.gridContainer {
  position: fixed;
  z-index: 2;
  background-color: aquamarine;
  bottom: 20px;
  height: 200px;
  width: 340px;
  margin-left: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.stattext {
  font-family: poppins;
  font-size: 15px;
  color: #444444;
  text-align: center;
}
.hpchart {
  position: fixed;
  z-index: 2;
  bottom: 149px;
  right: 160px;
}
.attackchart {
  position: fixed;
  z-index: 2;
  bottom: 149px;
  right: 46px;
}
.defensechart {
  position: fixed;
  z-index: 2;
  bottom: 149px;
  left: 160px;
}
.spchart {
  position: fixed;
  z-index: 2;
  bottom: 58px;
  right: 160px;
}
.defchart {
  position: fixed;
  z-index: 2;
  bottom: 58px;
  right: 46px;
}
.speedchart {
  position: fixed;
  z-index: 2;
  bottom: 58px;
  left: 160px;
}
