.vierkant {
  width: 340px;
  height: 600px;
  position: absolute;
  top: 70px;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
  padding-left: 20px;
}
.pokemon {
  width: 312px;
  height: 74px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.pokemonnaam {
  font-family: poppins;
  padding-left: 20px;
  font-size: 18px;
  padding-top: 5px;
  color: #444444;
}
.pokemonfoto {
  margin-left: auto;
}
